node_modules
.env

# parcel output
dist
.cache

# bucklescript output
lib/bs
lib/js
lib/es6

# ocaml / bucklescript
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
.merlin
